body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../Pictures/title\ background.jpg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
    font-family: "VT323", monospace;
}

button {
    font-family: "VT323", monospace;
}

.time-container {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    flex-direction: column;
    margin-top: 500px;
}

.time-bar {
    background-color: gray;
    height: 60px;
    width: 300px;
    display: none;
    margin-top: 200px;
}

.time-progress {
    background-color: red;
    height: 100%;
    width: 0%;
}


.bottom-console-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 40%;
}

.bottom-console-round1 {
    display: flex;
    align-items: start;
    display: none;
}

.bottom-console-item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 200px;
    width: 400px;
    gap: 30px;
}

.bottom-console-round2 {
    display: flex;
    align-items: start;
    display: none;
}

.bottom-console-item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 200px;
    width: 650px;
    gap: 30px;
}

.bottom-console-round3 {
    display: flex;
    align-items: start;
    display: none;
}

.bottom-console-item3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 200px;
    width: 950px;
    gap: 30px;
}

.bottom-item {
    border: none;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 50%;
    }

.btnCon {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
    margin-top: 300px;
}

.level {
    text-align: center;
    font-size: 30px;
}

.key,
.key1,
.key2 {
    height: 80px;
    width: 80px;
    display: none;
    border: none;
    font-size: 46px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: solid 9px #36454F;
}

.clicker {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: none;
    display: none;
    padding: 0;
    background: none;
    margin-top: 80px;
}

.clicker img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    cursor: pointer;
}

.gameTitle {
    font-size: 200px;
}

.gameKeys {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 900px;
    gap: 20px;
}

.enterBtn {
    height: 100px;
    width: 300px;
    border-radius: 10px;
    border: slategray solid 5px;
    font-size: 40px;
    border: 0px;
    box-shadow: 40px;
    cursor: pointer;
}

.helpBtn {
    height: 100px;
    width: 300px;
    border-radius: 10px;
    border: slategray solid 5px;
    font-size: 40px;
    border: 0px;
    cursor: pointer;
}


.resetBtn {
    display: none;
    position: absolute;
    height: 100px;
    width: 200px;
    margin-top: 800px;
    margin-right: 950px;
    cursor: pointer;
    font-size: 40px;
    border: #6F4E37 solid 9px;
    margin-bottom: 40px;

}