body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.objective-container {
    display: flex;
    background-color: aquamarine;
    justify-content: space-between;
    margin-left: 32.5px;
    margin-right: 32.5px;
    margin-top: 50px;;
}

.objective-items {
    border: black solid 2px;
    height: 280px;
    background-color: antiquewhite;
}

.item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.objective {
    border: black solid 2px;
    height: 50px;
    width: 150px;
}

.bottom-console-parent {
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: aqua;
    align-items: end;
    margin-bottom: 20px;
    margin-left: 65px;

}

.bottom-console-round1 {
    display: flex;
    align-items: start;
    /* display: none; */
}

.bottom-console-item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 2px;
    height: 200px;
    width: 400px;
    gap: 30px;
}

.bottom-console-round2 {
    display: flex;
    align-items: start;
    display: none;
}

.bottom-console-item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 2px;
    height: 200px;
    width: 650px;
    gap: 30px;
}

.bottom-item {
    border: black solid 2px;
    height: 80px;
    width: 80px;
}

.round-count {
    margin-top: 40px;
    background-color: blueviolet;
}

.text {
    border: solid black 2px;
    background-color: brown;
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: 20px;
}

.time-bar {
    margin-top: 40px;
    background-color: gray;
    height: 60px;
    width: 200px;
    /* position: relative; */
}

.time-progress {
    background-color: red;
    height: 100%;
    width: 100%;
    /* position: absolute; */
    text-align: center;
    align-content: center;
}

.startBtn {
    /* position: absolute; */
    /* margin-left: 50%;
    margin-top: 500px; */
    background-color: aqua;
    border: 5px solid red;
    /* width: 50px; */
}
.btnCon {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    margin-left: 65px;
}

.level {
    text-align: center;
    font-size: 30px;
}

.key {
    height: 80px;
    width: 80px;
    display: none;
}

.clicker {
    background-color: rebeccapurple;
    height: 150px;
    width: 150px;
    display: none;
    border-radius: 50%;
}