body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../Pictures/title\ background.jpg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

.objective-container {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    flex-direction: column;
    margin-top: 500px;
}

.time-bar {
    background-color: gray;
    height: 60px;
    width: 300px;
    display: none;
}

.time-progress {
    background-color: red;
    height: 100%;
    width: 0%;
}


.bottom-console-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 18%;
}

.bottom-console-round1 {
    display: flex;
    align-items: start;
    display: none;
}

.bottom-console-item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 2px;
    height: 200px;
    width: 400px;
    gap: 30px;
}

.bottom-console-round2 {
    display: flex;
    align-items: start;
    display: none;
}

.bottom-console-item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 2px;
    height: 200px;
    width: 650px;
    gap: 30px;
}

.bottom-console-round3 {
    display: flex;
    align-items: start;
    display: none;
}

.bottom-console-item3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 2px;
    height: 200px;
    width: 950px;
    gap: 30px;
}

.bottom-item {
    border: black solid 2px;
    height: 80px;
    width: 80px;
}

.btnCon {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
    margin-top: 300px;
}

.level {
    text-align: center;
    font-size: 30px;
}

.key {
    height: 80px;
    width: 80px;
    display: none;
}

.key1 {
    height: 80px;
    width: 80px;
    display: none;
}

.key2 {
    height: 80px;
    width: 80px;
    display: none;
}

.clicker {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: none;
    display: none;
    padding: 0;
    background: none;
    margin-top: 80px;
}

.clicker img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    cursor: pointer;
}

.gameTitle {
    font-size: 200px;
}

.gameKeys {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 900px;
    gap: 20px;
}

.enterBtn {
    height: 100px;
    width: 300px;
    border-radius: 10px;
    border: slategray solid 5px;
    font-size: 30px;
    border: 0px;
    box-shadow: 40px;
}

.helpBtn {
    height: 100px;
    width: 300px;
    border-radius: 10px;
    border: slategray solid 5px;
    font-size: 30px;
    border: 0px;
}


.resetBtn {
    display: none;
    position: absolute;
    margin-top: 800px;
    margin-right: 950px;
}