body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../Pictures/title\ background.jpg);
}

.objective-container {
    display: flex;
    justify-content: space-between;
    margin-left: 32.5px;
    margin-right: 32.5px;
    margin-top: 50px;
    display: none;
}

.objective-items {
    border: black solid 2px;
    height: 280px;
    background-color: antiquewhite;
}

.item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.objective {
    border: black solid 2px;
    height: 50px;
    width: 150px;
}

.bottom-console-parent {
    display: flex;
    justify-content: center;
    align-items: start;
    align-items: end;
    margin-bottom: 20px;
    margin-left: 65px;

}

.bottom-console-round1 {
    display: flex;
    align-items: start;
    display: none;
}

.bottom-console-item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 2px;
    height: 200px;
    width: 400px;
    gap: 30px;
}

.bottom-console-round2 {
    display: flex;
    align-items: start;
    display: none;
}

.bottom-console-item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 2px;
    height: 200px;
    width: 650px;
    gap: 30px;
}

.bottom-console-round3 {
    display: flex;
    align-items: start;
    display: none;
}

.bottom-console-item3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 2px;
    height: 200px;
    width: 950px;
    gap: 30px;
}

.bottom-item {
    border: black solid 2px;
    height: 80px;
    width: 80px;
}

.round-count {
    margin-top: 40px;
}

.text {
    border: solid black 2px;
    background-color: brown;
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: 20px;
}

.time-bar {
    margin-top: 40px;
    background-color: gray;
    height: 60px;
    width: 200px;
    display: none;
}

.time-progress {
    background-color: red;
    height: 100%;
    width: 100%;
    text-align: center;
    align-content: center;
    display: none;
}

.startBtn {
    border: 5px solid red;
    display: none;
    margin-top: 100px;
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
    display: none;
}

.btnCon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.level {
    text-align: center;
    font-size: 30px;
}

.key {
    height: 80px;
    width: 80px;
    display: none;
}

.key1 {
    height: 80px;
    width: 80px;
    display: none;
}

.key2 {
    height: 80px;
    width: 80px;
    display: none;
}

.clicker {
    background-color: rebeccapurple;
    height: 150px;
    width: 150px;
    display: none;
    border-radius: 50%;
}

.gameTitle {
    font-size: 200px;
}

.gameKeys {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;     
    height: 900px;
    gap: 20px;
    margin-bottom: 90px; 
}

.enterBtn {
    height: 100px;
    width: 300px;
    border-radius: 10px;
    border: slategray solid 5px;
    font-size: 30px;
    border: 0px;
    box-shadow: 40px;
}

.helpBtn {
    height: 100px;
    width: 300px;
    border-radius: 10px;
    border: slategray solid 5px;
    font-size: 30px;
    border: 0px;
}